@model IEnumerable<Email>

@{ 
    Layout = "navbaradmin";
}


<div>
    <div class="form-horizontal">
        <div class="contentBox">
            <h1 class='w3layouts-title wow fadeInDown animated well well-lg footer-bottom' style="color:white">Inbox</h1>

            <div class="col-md-12 welcome-grids  welcome-mdl1 wow zoomIn animated well well-lg">
                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading"><h4 style="text-align:center">Message</h4></div>
                    <div class="panel-body">
                        <p>...</p>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>From</th>
                                <th>To</th>
                                <th>Message</th>
                                <th>Action</th>

                            </tr>


                        </thead>
                        @foreach (var item in Model)
                        {
                         <tbody>
                             <tr>
                                 <td><a href="/email/read?id=@item.Id&name=@item.To">@item.From</a></td>
                                 <td>@item.To</td>
                                 <td>@item.Message</td>
                                 <td><a class="btn btn-default admin" href="/email/read?id=@item.Id&name=@item.To">View Message</a></td>

                             </tr>
                         </tbody>
                        }
                    </table>
                </div>
                @*<div class="col-md-offset-2 col-md-10">

                        <input class="btn btn-info" data-wow-delay=".5s" type="submit" value="Start Over">
                    </div>*@
            </div>

        </div>
    </div>
</div>


