

@{
    Layout = "adminLayout";
}

<div>
    <div class="form-horizontal">
        <div class="body-content">

            <!-- welcome -->
            <div class="welcome" id="welcome">
                <div>
                    <h3 class='w3layouts-title wow fadeInDown animated well well-lg footer-bottom' style="color:white">Welcome Admin</h3>
                    <div class="welcome-info">
                        <h2 class="wow fadeInLeft animated" data-wow-delay=".5s">Our Hospitality Specializations </h2>
                        <p class="wel-text wow fadeInRight animated" data-wow-delay=".5s">Our purpose is not to eliminate the doctors from society but share their load. Minimize the distance between people and health that high fees of doctors have created</p>
                        <div class="welcome-row">
                            <div class="col-md-3 welcome-grids wow zoomIn animated" data-wow-delay=".5s">
                                <a href="/Admin/userList"><h5>Users</h5></a>
                                <p class="text">Click here to see list of registered users</p>
                                <div class="welcome-w3lsicon">
                                    <span><i class="glyphicon glyphicon-briefcase"></i> </span>
                                </div>
                            </div>
                            <div class="col-md-3 welcome-grids welcome-mdl wow zoomIn animated" data-wow-delay=".5s">
                                <a href="/Admin/adminList"><h5>Admins</h5></a>
                                <p class="text">Click Here to see Admin List and number of admins</p>
                                <div class="welcome-w3lsicon">
                                    <span><i class="glyphicon glyphicon-check"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3 welcome-grids  welcome-mdl1 wow zoomIn animated" data-wow-delay=".5s">
                                <a href="/Admin/userDetail"><h5>User Detail</h5></a>
                                <p class="text">Click here to See the Detail Of Users</p>
                                <div class="welcome-w3lsicon">
                                    <span><i class="glyphicon glyphicon-education"></i></span>
                                </div>
                            </div>

                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //welcome -->
        </div>
    </div>
 
</div>


<script>
                    new WOW().init();
</script>
<!-- //animation -->
<!-- start-smooth-scrolling -->
@*<script type="text/javascript" src="~/theme/js/move-top.js"></script>
    <script type="text/javascript" src="~/theme/js/easing.js"></script>*@
<script type="text/javascript">
                    jQuery(document).ready(function ($) {
                        $(".scroll").click(function (event) {
                            event.preventDefault();
                            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
                        });
                    });
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script type="text/javascript">
                    $(document).ready(function () {
                        /*
                        var defaults = {
                            containerID: 'toTop', // fading element id
                            containerHoverID: 'toTopHover', // fading element hover id
                            scrollSpeed: 1200,
                            easingType: 'linear'
                        };
                        */

                        $().UItoTop({ easingType: 'easeOutQuart' });

                    });
</script>
<!-- //smooth-scrolling-of-move-up -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="~/Theme/js/bootstrap.js"></script>

